# Vim
*.swp
*.swo
*~
.netrwhist
_vim/backups/**
_vim/bundle/**
_vim/viminfo

# Sublime Text 3
sublime-text-3/Packages/User/Package Control.*
sublime-text-3/Packages/User/SublimeLinter/**
sublime-text-3/Packages/User/*.crt


# Macos #
#########

.DS_Store

# Bundler
_bundle/cache/**
